name: Cleanup PR

on:
  pull_request:
    types: [closed]

jobs:
  load_matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - id: set-matrix
        working-directory: images
        run: |
          flavours=$(ls -I "base"| xargs echo | sed 's/ /,/g')
          echo "Building flavours: $flavours"
          flavours="{\"flavour\":[\"`echo "$flavours" | sed 's/,/","/g'`\"]}"
          echo "matrix=$flavours" >> $GITHUB_OUTPUT

  purge_images:
    runs-on: ubuntu-latest
    needs: load_matrix
    strategy:
      matrix: ${{ fromJson(needs.load_matrix.outputs.matrix) }}
    steps:
      - name: Delete github-actions-runner:${{ matrix.flavour }}
        continue-on-error: true
        uses: bots-house/ghcr-delete-image-action@v1.1.0
        with:
          owner: ${{ github.repository_owner }}
          name: github-actions-runner
          token: ${{ secrets.GH_DEL_IMAGE_PAT }}
          tag: ${{ matrix.flavour }}-pr-${{ github.event.pull_request.number }}
